{% extends 'base.html' %}
{% load dictionary_tag %}
{% block title %} quiz {% endblock %}

{% block content %}
    <form method="post" action="{% url 'quiz_result' %}">
        {% csrf_token %}
        {% for question in questions %}
            <div class="text-left mt-3">
                <h4>
                    {{ question.content }}
                </h4>
            </div>
            <div class="row mt-2">
            {% for item in dict_questions|get_value_from_dict:question.id %}
                <label class="col-md-3">
                    {{ forloop.counter }}: {{ item.0 }}
                    <input type="radio" value="{{ item.1 }}" name="{{ question.id }}">
                </label>
            {% endfor %}
        {% endfor %}
        </div>


        <div class="text-center mt-3">
            <a href="{% url 'quiz_result' %}">
                <button type="submit" class="btn btn-success">
                    Submit
                </button>
            </a>
        </div>
    </form>

{% endblock %}