{% extends 'base.html' %}
{% block title %} quiz {% endblock %}

{% block content %}
    <form method="post" action="{% url 'quiz_result' %}">
        {% csrf_token %}
        {% for question in questions %}
            <div class="text-left mt-3">
                <h4>
                    {{ question.content }}
                </h4>
            </div>
            <div class="row mt-2">
            {% for key,value in dict_questions.items %}
                {% if key == question.id %}
                    {% for item in value %}
                        <label class="col-md-3">
                            {{ forloop.counter }}: {{ item.0 }}
                            <input type="checkbox" value="{{ item.1 }}" name="{{ question.id }}">
                        </label>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>


        <div class="text-center mt-3">
            <a href="{% url 'quiz_result' %}">
                <button type="submit" class="btn btn-success">
                    Submit
                </button>
            </a>
        </div>
    </form>

{% endblock %}